// ----------------------- //
// Typography style ------ //
// ----------------------- //


body {
    font-size: $font_size_base;
    line-height: $line_height_base;
    color: $color_black;
    font-family: $font_family_base;  
}
input, label, select, button, textarea {
    font-family: $font_family_base;  
}
h1, h2, h3, h4 {
    font-family: $font_family_base;
    color: $color_black;
}
h1 {
    font-size: $font_size_h1;
    line-height: $line_height_h1;    
    font-weight: bold;
}
h2 {
    font-size: $font_size_h2;
    line-height: $line_height_h2;
}
h3 {
    font-size: $font_size_h3;
    line-height: $line_height_h3;
}
h4 {
    font-size: $font_size_h4;
    line-height: $line_height_h4;
}
p {
    font-family: $font_family_base;  
}
strong {
    font-family: $font_family_base;
}
a {
    text-decoration: none;
    border-bottom: 1px solid;
    border-bottom-color: rgba($color_black, 0.5);  
    &:hover {
        border-bottom-color: rgba($color_black, 0.5);  
    }
    &:active {
        border-bottom-color: rgba($color_black, 0.5);  
    }
    &:visited {
        border-bottom-color: rgba($color_black, 0.5);  
    }
    &:focus {
        border-bottom-color: rgba($color_black, 0.5); 
    }    
}